body {
	padding: 80px;
}

header {
	text-align: center;
	overflow: hidden;
}
#formBtn{
	float: right;
}
.wrap {
	clear: both;
	flex-direction: row;
	display: flex;
}

.todo, .doing, .done {
	clear: both;
	padding: 30px;
	width: 33%;
}

#updateBtn, #deleteBtn, #editBtn{
	margin-right: 30px;
}

.block {
	background-color: white;
	border: 3px solid gray;
	padding: 10px;
}

li {
	list-style-type: none;
	margin-top: 20px;
}


footer {
	margin-top: 10px;
	clear: both;
}