body {
	padding: 80px;
}

header {
	text-align: center;
	overflow: hidden;
}
#formBtn{
	float: right;
}
.wrap {
	clear: both;
	flex-direction: row;
	display: flex;
	justify-content: space-between;
}

.todo, .doing, .done {
	clear: both;
	padding:20px;
	width:30%;
}

#updateBtn, #deleteBtn, #editBtn{
	margin-right:3%;
}
#updateBtn{
	margin-left:40%;
}
.block {
	background-color: white;
	border: 3px solid gray;
	padding: 10px;
}

ul {
	list-style-type: none;
	margin-top: 20px;
	width : "100%";
	list-style:none;
	padding-left:0px;
	
}


footer {
	margin-top: 10px;
	clear: both;
}